bitsandbytes==0.41.0
decord==0.6.0
einops==0.8.0
einops_exts==0.0.4
flash_attn==2.5.9.post1
Flask==3.0.3
flask-cors>=5.0.0
huggingface_hub==0.23.1
numpy==1.25.2
peft==0.4.0
Pillow==10.3.0
Requests==2.32.3
scipy==1.13.1
torch==2.3.0
tqdm==4.66.3
