<!DOCTYPE html>
<html>
<head>
    <title>Simple Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body style="background-color: #ddd;">
    <div style="display: flex; align-items: start;">
        <div id="main-area">
            <div id="display-text" style="background: #fff;"></div>
            <textarea type="text" id="user-input" placeholder="Type your text here..."></textarea>
            <div class="spin" id="loading-animation" style="display: none;">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="image-area">
                <div class="image-upload-area">
                    <div class="image-grid"></div>
                    <h1 class="upload-icon">
                        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                    </h1>
                    <input class="file-uploader" type="file" onchange="upload()" accept="image/*" multiple>
                </div>
                <a class="clear-chat-button" onclick="clearImages()"><span></span>Clear Images</a><br>
            </div>
        </div>
        <div id="sidebar">
            <div id="settings" style="margin: 0px; width: 400px; border: 1px solid #00000044; margin-left: 40px; margin-top: 15px;">
                <a class="clear-chat-button" onclick="clearChat()"><span></span>Clear Chat</a><br>
                <div class="change-model-button">
                    <select id="modelSelector" onchange="changeModelOpen()">
                        <option value="Hermes-2-Theta-Llama-3-8B">Change Model</option>
                        <option value="Hermes-2-Theta-Llama-3-8B">Hermes-2-Theta-Llama-3-8B</option>
                        <option value="llama3-llava-next-8b">Llama3-llava-next-8b</option>
                        <option value="paligemma-3b-mix-448">paligemma-3b-mix-448</option>
                        <option value="Meta-Llama-3-70B-Instruct-IQ2_S">Llama-3-70B-Instruct-IQ2_S</option>
                        <option value="Meta-Llama-3-70B-Instruct-IQ1_M">Llama-3-70B-Instruct-IQ1_M</option>
                        <option value="phi-3-mini-128k-instruct">Phi-3-mini-128k-instruct</option>
                        <option value="phi-3-medium-128k-instruct">Phi-3-medium-128k-instruct</option>
                        <option value="phi-3-vision-128k-instruct">Phi-3-vision-128k-instruct</option>
                    </select>
                </div><br>
                <input type="checkbox" id="moreinfo-checkbox" onchange="moreInfoCheckbox()"><label for="moreinfo-checkbox">Show more info</label><br>
                <input type="checkbox" id="usefunctions-checkbox" onchange="usefunctionsCheckbox()"><label for="usefunctions-checkbox">Use Functions</label><br>
            </div>
            <br>
            <div id="info" style="margin: 0px; width: 400px; border: 1px solid #00000044; margin-left: 40px; margin-top: 15px;">
                <div class="text-info">
                    <span class="label">Vram: </span><span id="info-vram-used">00.00</span> / <span id="info-vram-total">00.00</span> GiB<br>
                    <span class="label">Input Tokens: </span><span id="info-input-tokens">0</span><br>
                    <span class="label">Output Tokens: </span><span id="info-output-tokens">0</span><br>
                    <span class="label">Tokens/s: </span><span id="info-tokens-per-second">0</span><br>
                    <span class="label">Total Time: </span><span id="info-total-time">0</span>s<br>
                </div>
            </div>
            <br>
            <div id="additional-settings" style="margin: 0px; width: 400px; border: 1px solid #00000044; margin-left: 40px; margin-top: 15px;">
                Load model as<br>
                <input type="radio" id="bfloat16" name="model-dtype" value="bfloat16" checked="true"><label for="bfloat16">bfloat16</label><br>
                <input type="radio" id="float16" name="model-dtype" value="float16"><label for="float16">float16</label><br>
                <input type="radio" id="8bit" name="model-dtype" value="8bit"><label for="8bit">8bit</label><br>
                <input type="radio" id="4bit" name="model-dtype" value="4bit"><label for="4bit">4bit</label><br>
                
                <textarea type="text" id="manual-system-prompt" placeholder="Type your system prompt here..."></textarea><br>
                max new tokens (default 1024) <input type="number" class="num-input" min="1" id="max_new_tokens" value=1024><br>

                <input type="checkbox" id="debugmode-checkbox" onchange="debugmodeCheckbox()"><label for="debugmode-checkbox">Use Debug-Mode</label><br>

                <input type="checkbox" id="usebeamsearch-checkbox" onchange="usebeamsearchCheckbox()"><label for="usebeamsearch-checkbox">Use Beam-Search</label><br>
                max_num_beams (default 4) <input type="number" class="num-input" min="1" id="max_num_beams" value=4><br>
                depth_beams (default 8) <input type="number" class="num-input" min="1" id="depth_beams" value=8><br>
                min_conf_for_sure (default 0.95) <input type="number" class="num-input" min="0" max="1" step=0.01 id="min_conf_for_sure" value=0.95><br>
                min_conf_for_consider (default 0.02) <input type="number" class="num-input" min="0" max="1" step=0.01 id="min_conf_for_consider" value=0.02><br>
                prob_sum_for_search (default 0.98) <input type="number" class="num-input" min="0" max="1" step=0.01 id="prob_sum_for_search" value=0.98><br>
            </div>
        </div>
    </div>
    
    <div style="display: flex; align-items: center;">
        
    </div>
</body>
</html>