<!DOCTYPE html>
<html>
<head>
    <title>Simple Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body style="background-color: #ddd;">
    <div style="display: flex; align-items: start;">
        <div id="display-text" style="background: #fff;"></div>
        <div id="sidebar">
            <div id="settings" style="margin: 0px; width: 300px; border: 1px solid #00000044; margin-left: 40px; margin-top: 15px;">
                <a class="clear-chat-button" onclick="clearChat()"><span></span>Clear Chat</a><br>
                <div class="change-model-button">
                    <select id="modelSelector" onchange="changeModelOpen()">
                        <option value="llama3-llava-next-8b">Change Model</option>
                        <option value="llama3-llava-next-8b">Llama3-llava-next-8b</option>
                        <option value="paligemma-3b-mix-448">paligemma-3b-mix-448</option>
                        <option value="Meta-Llama-3-70B-Instruct-IQ2_S">Llama-3-70B-Instruct-IQ2_S</option>
                        <option value="Meta-Llama-3-70B-Instruct-IQ1_M">Llama-3-70B-Instruct-IQ1_M</option>
                        <option value="Hermes-2-Theta-Llama-3-8B">Hermes-2-Theta-Llama-3-8B</option>
                    </select>
                </div><br>
                <input type="checkbox" id="moreinfo-checkbox" onchange="moreInfoCheckbox()"><label for="moreinfo-checkbox">Show more info</label><br>
                <input type="checkbox" id="usefunctions-checkbox" onchange="usefunctionsCheckbox()"><label for="usefunctions-checkbox">Use Functions</label><br>
            </div>
            <br>
            <div id="info" style="margin: 0px; width: 300px; border: 1px solid #00000044; margin-left: 40px; margin-top: 15px;">
                <div class="text-info">
                <span style="width: 140px; display: inline-block;">Vram: </span><span id="info-vram-used">00.00</span> / <span id="info-vram-total">00.00</span> GiB<br>
                <span style="width: 140px; display: inline-block;">Input Tokens: </span><span id="info-input-tokens">0</span><br>
                <span style="width: 140px; display: inline-block;">Output Tokens: </span><span id="info-output-tokens">0</span><br>
                <span style="width: 140px; display: inline-block;">Tokens/s: </span><span id="info-tokens-per-second">0</span><br>
                <span style="width: 140px; display: inline-block;">Total Time: </span><span id="info-total-time">0</span>s<br>
                </div>
            </div>
            <br>
            <textarea type="text" id="manual-system-prompt" placeholder="Type your system prompt here..."></textarea>
        </div>
    </div>
    
    <div style="display: flex; align-items: center;">
        <textarea type="text" id="user-input" placeholder="Type your text here..."></textarea>
        <div class="spin" id="loading-animation" style="display: none;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>